<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form in HTML and CSS | CodingNepal</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="login_form">
    <!-- Login form container -->
    <form action="#">
        <h3>You Signed in</h3>


        <!-- Login option separator -->
        <p class="separator">
            <span></span>
        </p>

        <!-- Firstname input box -->
        <div class="input_box" style="margin-bottom: 40px;">
            <p> Your firsname: </p>
        </div>

        <!-- Firstname input box -->
        <div class="input_box" style="margin-bottom: 40px;">
            <p> Your firsname: </p>
        </div>

        <!-- Firstname input box -->
        <div class="input_box" style="margin-bottom: 40px;">
            <p> Your email: </p>
        </div>

        <!-- Login button -->
        <button type="submit">Sign out </button>
    </form>
</div>
</body>
</html>